.DS_Store

# Composer
/vendor/
composer.phar
composer.lock

# Build artifacts
/build/composer.json
/dist/
*.zip

# Exclude dev dependencies from build (should not be scoped)
/build/vendor/phpunit/
/build/vendor/sebastian/
/build/vendor/doctrine/
/build/vendor/myclabs/
/build/vendor/phar-io/
/build/vendor/theseer/
/build/vendor/yoast/
/build/vendor/bin/phpunit
